extends layout

block content
  #titre
    | Memory O'clock

  #jeu
    table#memory
      tr
        td#cell1(onclick='gestionClic.userClick(this.id)')
        td#cell2(onclick='gestionClic.userClick(this.id)')
        td#cell3(onclick='gestionClic.userClick(this.id)')
        td#cell4(onclick='gestionClic.userClick(this.id)')
      tr
        td#cell5(onclick='gestionClic.userClick(this.id)')
        td#cell6(onclick='gestionClic.userClick(this.id)')
        td#cell7(onclick='gestionClic.userClick(this.id)')
        td#cell8(onclick='gestionClic.userClick(this.id)')
      tr
        td#cell9(onclick='gestionClic.userClick(this.id)')
        td#cell10(onclick='gestionClic.userClick(this.id)')
        td#cell11(onclick='gestionClic.userClick(this.id)')
        td#cell12(onclick='gestionClic.userClick(this.id)')

  #resultat
    #gagne
      | C'est gagn&eacute;!
    #perdu
      | C'est perdu!
    #score
      | Score:
    #ligneRes
      | Meilleur temps: #{meilleurTemps} secondes<br/>
      | Deuxi&egrave;me temps: #{deuxiemeTemps} secondes<br/>
      | Troisi&egrave;me temps: #{troisiemeTemps} secondes
    #fond
      #temps
      #compteur
        | 20
    #sauvegarde
      form(action='/', method='POST')
        input(id='duree', type='hidden', name='duree', value=20)
        input(id='valider', type='submit', value='Sauvegarder et rejouer')