doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="utf-8")
    title Memory O'clock
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type="text/javascript", src="/javascripts/Time.mjs").
    script(type="text/javascript", src="/javascripts/Image.mjs").
    script(type="text/javascript", src="/javascripts/Click.mjs").
    script(type="text/javascript", src="/javascripts/memory.js").
  body(onload="gameLoad()")
    block content